
body {
  background-color: #778bc5;
}

.header-container {
  border: 3px solid #f0c7e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {

}

.movie-list-container {
  
}